server:
  port: 9000

security:
  jwt:
    key-store: classpath:/keystore.jks
    key-store-password: changeit
    key-pair-alias: keystore
    key-pair-password: changeit

logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG

spring:
  main:
    allow-bean-definition-overriding: true

  jackson:
    serialization:
      fail-on-empty-beans: false
      INDENT_OUTPUT: true

  data:
    mongodb:
      host: localhost
      port: 27017
      database: koochita

  jpa:
    hibernate:
      ddl-auto: update